.app-input {
  padding: 10px 20px;
}
  
.submit-button {
  color: white;
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #32ad4c;
  border-Color: green;
  border-width: 5;
  border-radius: 15      
}